*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --v-d-g-blue: hsl(217, 19%, 35%); /* Very Dark Grayish Blue */
    --d-d-blue: hsl(214, 17%, 51%); /* Desatureted Dark Blue */
    --g-blue: hsl(212, 23%, 69%); /* Grayish Blue */
    --l-g-blue: hsl(210, 46%, 95%); /* Light Grayish Blue */
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background: var(--l-g-blue);
}

.main-container {
    padding-left: 25px;
    padding-right: 25px;
}

.card {
    position: relative;
    overflow: hidden;
    margin: 75px auto 75px auto;
    background: white;
    border-radius: 5px;
}

.img-container img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text-container {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 40px;
}

.text-container h2 {
    font-size: 1.2em;
    line-height: 1.4em;
    color: var(--v-d-g-blue);
    margin-bottom: 20px;
}

.text-container p {
    color: var(--d-d-blue);
    line-height: 1.3rem;
}

.social-nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-nav .avatar {
    height: 42px;
}

.social-nav .avatar img {
    width: 42px;
    height: 42px;
    border-radius: 21px;
}

.name-date {
    margin-left: 15px;
}

.name-date :first-child {
    color: var(--v-d-g-blue);
    font-weight: 700;
}

.name-date :last-child {
    display: block;
    color: var(--g-blue);
}

.btn {
    position: absolute;
    right: 30px;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 16px;
    background: var(--l-g-blue);
    cursor: pointer;
    z-index: 2;
}

.social-icons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--v-d-g-blue);
    padding: 30px 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transform: translateY(101%);
    transition: all 0.3s ease-in-out;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

.social-icons > * {
    margin-right: 15px;
}

.social-icons span {
    text-transform: uppercase;
    color: white;
    letter-spacing: .3rem;
    margin-right: 15px;
}

@media only screen and (min-width:740px) {

    body, html {
        height: 100vh;
    }
 
    .main-container {
        height: 100vh;
        display: grid;
        grid-template-rows: 95% 5%;
        justify-items: center;
        align-items: center;
    }

    .card {
        margin-bottom: 0;
        margin-top: 0;
        overflow: visible;
        display: flex;
        max-width: 730px;
        max-height: 285px;
        box-shadow: 10px 10px 5px black;
    }

    

    .img-container {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: hidden;
        min-width: 285px;
    }

    .img-container img {
        height: 100%;
        width: auto;
        border-top-right-radius: 0;
        transform: translateX(-50px);
    }

    .text-container {
        padding-right: 60px;
        padding-left: 40px;
    }

    .description h2 {
        font-size: 1.4em;
    }

    .social-nav {
        padding-bottom: 30px;
    }

    .social-icons {
        display: flex;
        align-items: center;
        position: absolute;
        width: 250px;
        bottom: 60px;
        left: inherit;
        right: -70px;
        border-radius: 8px;
        padding-bottom: 15px;
        padding-top: 15px;
        transform: scale(0);
        transform-origin: 50% bottom;
        transition: transform 0.3s, transform 0.3s;
        opacity: 1;
    }

    .social-icons::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid var(--v-d-g-blue);
        transition: all 1s;
        opacity: 1;
        transform-origin: bottom;

    }

    .active {
        opacity: 1;
        transform: scaleX(1);
        transform: scaleY(1);
    }

}